.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products{
    background-color: rgb(238, 242, 245);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin: 100px 50px;
  
}
.cart{
    background-color: rgb(247, 247, 162);
}