.cart-item{
   position: sticky;
   top:0;
}
.cart-item p{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.cart img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


