.product{
    width: 300px;
    height: 450px;
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 7px;
    position: relative;
   
}


.product img{
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 10px;

}
.product h2{
    font-size: 22px;
    font-family: lato;
    font-weight: 500;
}
.product p{
    font-size: 17px;
    font-weight: 600;  
}
.button{
    color: black;
    border: 0;   
    border-radius: 0px 0px 8px 8px;
    background: #fac26e;
    padding: 10px;
    width: 100%;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 0;


}